{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body>
    <div id="top-section">
        <button onclick="toggleTracking()" id="trackingButton">Start Tracking</button>        
    </div>
    <div id="bottom-section">
        <!-- Images will be appended here -->
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modalImage" src="" alt="Image Preview">
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>